# Expo React Native App Environment Variables
# For Local Web / Desktop testing:
EXPO_PUBLIC_API_URL=http://localhost:5000

# For Mobile / Physical Device testing over LAN:
# EXPO_PUBLIC_API_URL=http://192.168.x.x:5000
